

body{
   background-color: black;
 
  color: white;
  font-weight: 400;
  font-family:  'Gill Sans', 'Gill Sans MT', "Calibri", 'Trebuchet MS', sans-serif;
  
  animation: fadeInAnimation ease 1s;
  overflow-x: hidden;
  user-select: none;
}


body *{
  /* width: fit-content; */
  font-size: 1.3rem;
}

div.app-container{
  display:grid;
  grid-template-columns: 1fr 1fr;
}


.stopwatch-container, .timer-container{
  margin: .7rem;
}
.title{
  margin: auto;
  width: fit-content
}

.stopwatch-list-container, .timer-list-container {
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(255,255,255,1);
  height: 50vh;
  width: 100%;
  overflow: hidden;
}



.stopwatch-scroll-container, .timer-scroll-container{
  height: 75%;
  width: 100%;
  overflow-x:hidden;
  overflow-y:scroll;
  scroll-behavior: smooth;
  box-sizing: content-box;
}


.stopwatch-time-container{
  margin:auto;
  width: 95%;
  height:5%;
  background:transparent;
  display: flex;
  align-items:baseline;
  justify-content: space-between
}
.stopwatch-time, .average-stopwatch-lap{
  text-shadow: 0 0 10px rgba(255,100,100,1);
  color: rgba(255,180,180,1);
  font-weight:900;
  cursor:alias
}

.average-stopwatch-lap{
  position: relative;
}
.average-stopwatch-lap-without-stopped{
  opacity: 0;
  visibility: hidden;
  position: absolute;
  width: max-content;
  right: 0;
  bottom: 100%;
  z-index: 50;
  text-align: right;
  transition: .3s;
  transform: translate(100%, 0);

  background-color: rgba(0, 0, 0, 0.5);
  border-radius: .5rem;
  padding-left: .5rem;
  /* backdrop-filter: blur(5px); */
}

.average-stopwatch-lap:hover .average-stopwatch-lap-without-stopped{
  opacity: 1;
  visibility: visible;
  transition: .3s;
  transform: translate(0, 0);
}


.stopwatch-list-navigation-container{
  margin: 0 auto;
  padding: 0;
  height:10%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.stopwatch-input-container{
  width: 60%;
  height: 80%;
  display:flex;
  justify-content: center;
}

input.stopwatch-list-name-input, .timer-name-input, .timer-time-input{
  border: 0;
  width:96%;
  padding: 0 2%;
  height:100%;
  background: black;
  text-align: center;
  color:rgba(200,200,200,1);
  box-shadow: 0 0 10px rgba(255,255,255,.2);
  border-radius: 1rem;
  transition: .5s;
  z-index: 20;
}

input.stopwatch-list-name-input:hover, input.timer-name-input:hover, input.timer-time-input:hover{
  text-shadow: 0 0 10px rgba(255,255,255,.5);
  box-shadow: 0 0 10px rgba(255,255,255,.5);
  color: rgba(210,210,210,1);
  font-size: 1.7rem;
}

input.stopwatch-list-name-input:focus, input.timer-name-input:focus, input.timer-time-input:focus{
  outline: 0;
  text-shadow: 0 0 10px rgba(255,255,255,1);
  box-shadow: 0 0 10px rgba(255,255,255,1);
  color: rgba(255,255,255,1);
  font-size:1.5rem;
  
}

input.timer-name-input, input.timer-time-input{
  width: 44%;
}
.stopwatch-navigate-list-button{
  border: 0;
  padding: 0rem .3rem;
  background: transparent;
  color: rgb(180,180,180);
  font-weight: 800;
  transition: .5s;
  cursor:pointer
}
.stopwatch-navigate-list-button:hover{
  text-shadow: 0 0 10px rgba(255,255,255,.8);
  color:rgb(210,210,210)
}
.stopwatch-navigate-list-button:active{
  text-shadow: 0 0 10px rgba(255,255,255,1);
  color:rgb(255,255,255);
  transition: .2s;
}

.stopwatch-list-dropdown{
  position:absolute;
  bottom: 91%;
  /* padding: 0 1rem; */
  width: 50%;
  overflow: hidden;
  /* border-radius: 1rem 1rem 0 0 ; */
  box-shadow: 0 0 .5rem rgba(255,255,255,.4);
  opacity: 0;
  visibility: hidden;
  height: 0rem;
  /* height: 20rem; */
  transition: .2s;
  background: rgba(0,0,0,.5);
  backdrop-filter: blur(5px);
  z-index: 19;
}

.stopwatch-list-dropdown-scroll{
  height: 100%;
  width: 100%;
  overflow-x:hidden;
  overflow-y:scroll;
  scroll-behavior: smooth;
  display:flex;
  flex-flow: column nowrap;

}
.stopwatch-list-dropdown-scroll > :first-child{
  margin-top: auto !important;
}


.stopwatch-input-container:hover .stopwatch-list-dropdown{
  opacity: 1;
  visibility: visible;
  height: 20rem;
  transition: .8s;
}

.stopwatch-list-dropdown-item{
  text-align: center;
  position: static;
  width:100%;
  margin: 0;
  height:fit-content;
  transition: .5s;
  padding: 0.3rem 0;
  color: rgba(200,200,200,1);
  text-shadow: 0 0 1rem rgba(255,255,255,.6);
}

.stopwatch-list-dropdown-item:hover{
  color: rgba(255,255,255,1);
  text-shadow: 0 0 1rem rgba(255,255,255,1);
  font-size: 2rem;
  transition: .3s;
}


.stopwatch-control-button-container, .timer-control-button-container{
  height:10%;
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.stopwatch-control-button, .timer-button{
height: 80%;
background: transparent;
color: rgba(180,180,180,1);
border: 0;
padding: 0 .5rem;
transition: .5s;
/* outline: 1px solid white; */
  cursor:pointer
}
.stopwatch-control-button:hover, .timer-button:hover{
  color: rgba(210,210,210,1);
  text-shadow: 0 0 1rem rgba(255,255,255,.6);
  font-size: 1.5rem;
  transition: .3s;
}

.stopwatch-control-button:active, .timer-button:active{
  color: rgba(255,255,255,1);
  text-shadow: 0 0 1rem rgba(255,255,255,1);
  font-size: 1.5rem;
  transition: .2s;
}


.stopwatch-unordered-list{
  list-style-type: "⌚";
  transition:.5s;
  margin: 0;
}

.timer-unordered-list{
  list-style-type: "⏲";
  transition:.5s;
  margin: 0;
  margin-top: .4rem;
}

.timer-unordered-list > li{
 margin-bottom: .3rem;
}

.timer-input-line, .timer-button-line{
  height: 2rem;
  display:flex;
  justify-content: space-between;
  margin: 0 .5rem;
}

.timer-settings-button {
  background: transparent;
  color: rgba(180,180,180,1);
  border: 0;
  padding: 0 .5rem;
  transition: .5s;
  cursor:pointer;
  font-size:3.4rem;

}

.timer-settings-button:hover{
  color: rgba(210,210,210,1);
  text-shadow: 0 0 1rem rgba(255,255,255,.6);
  font-size:3.5rem;
  transition: .3s;
}

.stopwatch-unordered-list > li{
  transition: .5s;
  font-size: 1.25rem;
}

.stopwatch-unordered-list > li:hover{
  transition: .2s;
  font-size: 1.45rem;
}

.stopwatch-unordered-list > li:hover .stopwatch-time-reason{
  opacity: 1;
  visibility: visible;
  transition: 0.5s;
}

.stopwatch-time-reason{
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
}


.text-shadow-blue{
  text-shadow: 0 0 10px rgba(0,0,255,1);
  color: rgba(200,200,255,1)
}

.text-shadow-cyan{
  text-shadow: 0 0 15px rgba(0,255,255,1);
  color: rgba(200,255,255,1)
}


.text-shadow-green{
  text-shadow: 0 0 10px rgba(0,255,0,1);
  color: rgba(200,255,200,1)
}


@media screen and (max-width: 800px) {
  div.app-container{
    display:grid;
    grid-template-columns: 1fr;
  }
}
@media screen and (min-width: 800px) {
  div.app-container{
    display:grid;
    grid-template-columns: 1fr 1fr;
  }
  
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }

  100% {
      opacity: 1;
  }
} 