body{
  background-color: black;
  color: white;
  font-family: 'Courier New', Courier, monospace;
}

body *{
  width: fit-content;
  transition: .5s;
  font-size: 1.3rem;
}


.stopwatch-list-container {
  list-style-type: "⌚"
}

.stopwatch-list-container > li{
  transition: .5s;
  opacity: 0;
}

.stopwatch-list-container > li.shown{
  opacity: 1;
}

.stopwatch-list-container > li:hover .stopwatch-time-reason{
  opacity: 1;
  visibility: visible;
  transition: 0.5s;

}

.stopwatch-time-reason{
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
}

